#u236.PamphletThumbSelected #u263-4 p,#u1863.PamphletThumbSelected #u1866-4 p,#u529.PamphletThumbSelected #u569-4 p,#u2098.PamphletThumbSelected #u2103-4 p,#u1958.PamphletThumbSelected #u1963-4 p,#u1784.PamphletThumbSelected #u1787-4 p,#u2590-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2592-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2594-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2596-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2598-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u195-4,#u273-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u315-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u263-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u262-6,#u281-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u289-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u303-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u705-6,#u444-4,#u445-6,#u447-6,#u448-6,#u449-6,#u450-6,#u745-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u801-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u935-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u502-8,#u763-8,#u889-8,#u503-4,#u809-4,#u890-4,#u510-2,#u807-2,#u893-2,#u511-2,#u804-2,#u895-2,#u512-2,#u803-2,#u897-2,#u507,#u805,#u894,#u509,#u802,#u896,#u504-4,#u808-4,#u891-4,#u569-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1866-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1963-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2103-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1787-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1041-4,#u1047-4,#u1125-6,#u1462-4,#u1463-8,#u1464-4,#u1465-4,#u1467-4,#u1469-4,#u1466-14,#u1468-4,#u1470-4
{
	font-family: pt-sans-i4, sans-serif;
}

#u208-6,#u1656-6
{
	font-family: pt-sans-n7, sans-serif;
}

#u1054-4,#u1056-4,#u1057-4,#u1058-4,#u1059-4,#u1060-4,#u1181-4,#u1182-4,#u1179-6,#u1183-4,#u1178-8,#u1184-4,#u1539-4,#u1539,#u1541-4,#u1541,#u1542-4,#u1602-6,#u1687-5,#u1687-7,#u1687-9,#u1687-11,#u1687-13,#u1687-15,#u1687-17,#u1687-19,#u1687-20
{
	font-family: pt-sans-n4, sans-serif;
}

#u2647
{
	font-family: ubuntu-n7, sans-serif;
}

