@media (min-width: 768px) {
    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 5rem;
    }
    .zakaz {
        margin: 0 auto;
        width: 50%;
    }
    .priglash {
        margin: 0 auto;
        width: 70%;
    }
    .carousel1 {
        margin: 0 auto;
        width: 70%;
    }
}

@media (max-width: 768px) {
    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 4rem;
        padding-left: 7%;
    }
    button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('MyriadPro-Regular.woff2') format('woff2'), url('MyriadPro-Regular.woff') format('woff'), url('MyriadPro-Regular.ttf') format('truetype'), url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('MyriadPro-Bold.eot');
    src: url('MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('MyriadPro-Bold.woff2') format('woff2'), url('MyriadPro-Bold.woff') format('woff'), url('MyriadPro-Bold.ttf') format('truetype'), url('MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: bold;
}

body {
    font-family: 'MyriadPro-Regular', sans-serif;
    /*transition: all 0.3s ease 0s;*/
}

header {
    background: url(../img/main_bg.jpg);
    background-size: cover;
    color: #fff;
    a {
        color: #fff;
    }
    input {
        color: #333;
    }
    span {
        color: #333;
    }
}

.header1 {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    p {
        font-size: 2.3rem;
    }
    button {
        margin-bottom: 5px;
    }
}

.overlay0000 {
    background-color: rgba(0, 0, 0, 0);
}

.overlay {
    background: url(../img/pattern.png);
    background-repeat: repeat;
}

#bullets {
    p {
        background: rgba(0, 98, 255, 0.72);
        font-size: 2.7rem;
        padding-left: 8%;
        border-radius: 3px;
    }
}

#bullets1 {
    p {
        background: rgba(0, 98, 255, 0.72);
        font-size: 2.7rem;
        padding-left: 8%;
        border-radius: 3px;
    }
    padding-top: 7%;
}

.form-bg {
    background: rgba(255, 255, 255, 0.49);
    border-radius: 3px;
}

.od {
    padding-top: 7%;
}

.logo {
    padding-top: 3%;
    font-size: 2.3rem;
    color: #fff;
}

.lg1 {
    padding-left: 5px;
    color: #fff;
}

.tell {
    line-height: 1;
    padding-top: 25px;
}

.bron {
    padding-top: 10px;
    font-size: 2.3rem;
    color: #333;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: #ffba00;
    color: #fff;
}

.navbar {
    border-radius: 0;
    border: none;
}

.navbar-inverse {
    background: rgba(0, 0, 0, 0.49);
}

.navbar-nav {
    padding-left: 5%;
}

.btn-warning {
    background: #ffba00;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e0e0e0;
}

#two {
    p {
        font-size: 2rem;
        padding-top: 20px
    }
    .span1 {
        font-size: 3rem;
        background: #1C60CF;
        padding: 10px 20px 10px 20px;
        color: #fff;
    }
}

#three {
    background: #CCD9F9;
    color: #333;
    padding-bottom: 30px;
    .span1 {
        font-size: 3rem;
        background: #1C60CF;
        padding: 10px 20px 10px 20px;
        color: #fff;
    }
    h3 {
        font-size: 3rem;
        background: #1C60CF;
        color: #fff;
    }
    ul {
        padding-top: 10px;
    }
}

table {
    background: #7FC5E1;
}

.effect1 {
    background: url(../img/sad1.png);
    height: 150px;
    width: 150px;
}

.effect1:hover {
    background: url(../img/sad.jpg);
    height: 150px;
    width: 150px;
}

.effect2 {
    background: url(../img/passage.png);
    height: 150px;
    width: 150px;
}

.effect2:hover {
    background: url(../img/passage1.png);
    height: 150px;
    width: 150px;
}

.effect3 {
    background: url(../img/soborka.png);
    height: 150px;
    width: 150px;
}

.effect3:hover {
    background: url(../img/soborka1.png);
    height: 150px;
    width: 150px;
}

.effect4 {
    background: url(../img/soborka.png);
    height: 150px;
    width: 150px;
}

.effect4:hover {
    background: url(../img/soborka1.png);
    height: 150px;
    width: 150px;
}

.effect5 {
    background: url(../img/derib1.jpg);
    height: 150px;
    width: 150px;
}

.effect5:hover {
    background: url(../img/derib.jpg);
    height: 150px;
    width: 150px;
}

.effect6 {
    background: url(../img/velo1.png);
    height: 150px;
    width: 150px;
}

.effect6:hover {
    background: url(../img/velo.png);
    height: 150px;
    width: 150px;
}

.effect7 {
    background: url(../img/opera1.png);
    height: 150px;
    width: 150px;
}

.effect7:hover {
    background: url(../img/opera.png);
    height: 150px;
    width: 150px;
}

.effect8 {
    background: url(../img/prim.png);
    height: 150px;
    width: 150px;
}

.effect8:hover {
    background: url(../img/prim1.png);
    height: 150px;
    width: 150px;
}

#also {
    img {
        padding-bottom: 20px;
    }
}

#bron {
    background: url(../img/launge6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    h5 {
        font-size: 2.5rem;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px 0 10px 0;
    }
    h3 {
        font-size: 2rem;
    }
    #b_editDates {
        color: #fff!important;
        font-family: 'MyriadPro-Regular', sans-serif!important;
    }
    #b_editDates h3 {
        color: #fff;
        background: rgba(0, 98, 255, 0.72)!important;
        font-size: 2rem;
        padding-bottom: 20px;
        padding-top: 20px;
        font-weight: normal!important;
        padding-left: 20px!important;
    }
    .b_availFormInner {
        background: rgba(0, 98, 255, 0.72)!important;
    }
    #b_editDates form {
        border: none!important;
        padding: 0px!important;
    }
    .priglash {
        padding-top: 5%;
    }
}

#slider {
    background: #F1EFFA;
    h3 {
        font-size: 3rem;
        background: #1C60CF;
        color: #fff;
    }
}

#otz {
    background: url(../img/more111.jpg);
    h3 {
        font-size: 3rem;
        background: #1C60CF;
        color: #fff;
    }
}

.overlayw {
    background: rgba(255, 255, 255, 0.9);
}

.media {
    padding-top: 50px;
}

.pad1 {
    padding-top: 50px;
}

#zd {
    background: url(../img/gd1.png);
    height: 150px;
    width: 150px;
}

#zd:hover {
    background: url(../img/gd.png);
    height: 150px;
    width: 150px;
}

#avto {
    background: url(../img/avto1.jpg);
    height: 150px;
    width: 150px;
}

#avto:hover {
    background: url(../img/avto.jpg);
    height: 150px;
    width: 150px;
}

#last {
    background: url(../img/4.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    a {
        color: #fff;
    }
}

.btn {
    border: medium none;
    cursor: pointer;
    font-family: inherit;
    font-size: 2rem;
    outline: medium none;
    padding: 7px 7px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

h2 {
    background: #1C60CF;
    color: #fff;
}

.centered {
    margin: 0 auto;
}

.span1 {
    font-size: 3rem;
    background: #1C60CF;
    padding: 10px 20px 10px 20px;
    color: #fff;
}

#whywe {
    h3 {
        font-size: 3rem;
        background: #1C60CF;
        color: #fff;
    }
}

#howto {
    h3 {
        font-size: 3rem;
        background: #1C60CF;
        color: #fff;
    }
}
.form {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.18);
    padding: 20px;
    border-radius: 5px;
    h3 {
        font-size: 2rem;
    }
}

.form-area {
    background: #fff;
    padding: 32px 30px;
    color: #333;
    border-radius: 5px;
}
.form {
    color: #333;
}